### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
users_df = purchase_data.loc[:, ["Purchase ID", "SN", "Age","Gender","Price", "Item ID"]]
users_df.head

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Price  Item ID
0              0        Lisim78   20    Male   3.53      108
1              1    Lisovynya38   40    Male   1.56      143
2              2     Ithergue48   24    Male   4.88       92
3              3  Chamassasya86   24    Male   3.27      100
4              4      Iskosia90   23    Male   1.44      131
..           ...            ...  ...     ...    ...      ...
775          775     Aethedru70   21  Female   3.54       60
776          776         Iral74   21    Male   1.63      164
777          777     Yathecal72   20    Male   3.46       67
778          778        Sisur91    7    Male   4.19       92
779          779      Ennrian78   24    Male   4.60       50

[780 rows x 6 columns]>

In [3]:
total_players = len (purchase_data["SN"].value_counts())

player_count = pd.DataFrame({"Player Count":[total_players]})
player_count

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data["Item Name"].nunique()
avg_price = purchase_data["Price"].mean()
num_purchase = purchase_data["Purchase ID"].nunique()
total_revenue = purchase_data = purchase_data.Price.sum()

purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                 "Average Price": [avg_price],
                                "Number of Purchases": [num_purchase],
                                 "Total Revenue": [total_revenue]})

purchase_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_count = users_df["Gender"].value_counts()
#gender_count
gender_percents = (gender_count/total_players) * 100
#gender_percents

gender_demographics = pd.DataFrame ({"Percentage of Players": gender_percents,
                                   "Count": gender_count})

gender_demographics.head()

                       Percentage of Players  Count
Male                              113.194444    652
Female                             19.618056    113
Other / Non-Disclosed               2.604167     15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_purchase_count = users_df.groupby (["Gender"]).count()["Price"]
purchase_avg = users_df.groupby (["Gender"]).mean()["Price"]
total_purchase_price = users_df.groupby (["Gender"]).sum()["Price"]
Avg_purch_per = total_purchase_price / gender_count

purchase_analysis = pd.DataFrame({"Purchase count": gender_purchase_count,
                                 "Average Purchase Count": purchase_avg,
                                 "Total purchase Value": total_purchase_price,
                                 "Average Purchase Total per Person by Gender": Avg_purch_per})
purchase_analysis

,Purchase count,Average Purchase Count,Total purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

users_df["Age Demographics"] = pd.cut(users_df["Age"], bins, labels = group_names)

group_age = users_df.groupby("Age Demographics")
age_count = group_age["SN"].nunique()

percentage_age = (age_count/total_players) * 100

age_demographics = pd.DataFrame({"Percentage of Players": percentage_age, 
                                 "Total Count": age_count})
age_demographics

                  Percentage of Players  Total Count
Age Demographics
<10                            2.951389           17
10-14                          3.819444           22
15-19                         18.576389          107
20-24                         44.791667          258
25-29                         13.368056           77
30-34                          9.027778           52
35-39                          5.381944           31
40+                            2.083333           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
purchase_age = group_age["Purchase ID"].count()

avg_purchase_age = group_age["Price"].mean()

total_purchase_value = group_age ["Price"].sum()

avg_purchase_per = total_purchase_value / purchase_age

purchase_demographics = pd.DataFrame ({"Purchase Count": purchase_age, 
                                      "Average Purchase price": avg_purchase_age,
                                      "Total Purchase Value" : total_purchase_value,
                                      "Average Purchase Total Per Person": avg_purchase_per})

purchase_demographics

,Purchase Count,Average Purchase price,Total Purchase Value,Average Purchase Total Per Person
Age Demographics,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame